<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="med-mmeebb-chatbot"/>
    <springProperty scope="context" name="lokiUrl" source="logging.loki.url" defaultValue="http://localhost:3100/loki/api/v1/push"/>

    <!-- Appender de Console Padrão Colorido -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%cyan(${appName}),%yellow(%X{traceId:-}),%magenta(%X{spanId:-})] %green(%X{studentPhone:-}) %clr(%logger{36}){cyan} : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender do Grafana Loki via HTTP (Streaming direto para o Loki) -->
    <springProfile name="!test">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${lokiUrl}</url>
            </http>
            <format>
                <label>
                    <pattern>app=${appName},host=${HOSTNAME},level=%level</pattern>
                </label>
                <message>
                    <pattern>[%X{traceId:-},%X{spanId:-}] studentPhone=%X{studentPhone:-} messageId=%X{messageId:-} logger=%logger{36} : %msg</pattern>
                </message>
            </format>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
